Fonte/interface/lex.yy.c
Fonte/interface/parser.o
Fonte/interface/y.tab.h
Fonte/interface/y.tab.c
Fonte/dg_uffsdb
Fonte/Ibetres
*.dat

# Emacs Ignore
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
